.places{
    width: 100%;
}

.places h1{
    text-align: left;
}

.places article{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: #FF5A5F solid 1px;
    flex-wrap: wrap;

}

.places article div{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
}

.places article h2{
    font-size: 30px;
    text-align: center;
}